:root {
  --color-bg-light: #f9fafb;
  --color-text-light: #18181b;
  --color-text-secondary-light: #9ca3af;
  --color-accent-light: #6366f1;
  --color-card-light: #fff;
  --color-border-light: #e5e7eb;
}