---
import { profile } from "@/data/profile";
---

<footer class="text-center mb-4 text-gray-400 pt-4 pb-4">
    Hand and AI crafted with{" "}
    <span class="text-red-400">❤</span>{" "}
    by {profile.fullName}
</footer>
