---
import BaseLayout from "./BaseLayout.astro";
import NavBar from "@/components/NavBar/NavBar";
import Footer from "@/components/Footer/Footer.astro";
import type { SEOProps } from "@/models/SEOProps";

type Props = SEOProps;

const props: Props = Astro.props;
const currentPath = Astro.url.pathname;
---

<BaseLayout {...props}>
    <NavBar currentPath={currentPath} client:load />
    <div class="page-container pt-2">
        <slot />
    </div>
    <Footer />
</BaseLayout>
